<button class="pf-c-button"
        [attr.form]="form"
        [attr.formaction]="formAction"
        [attr.formenctype]="formEncType"
        [attr.formmethod]="formMethod"
        [attr.formnovalidate]="formNoValidate"
        [attr.formtarget]="formTarget"
        [autofocus]="autofocus"
        [disabled]="disabled"
        [id]="id"
        [name]="name"
        [ngClass]="{
          'pf-m-danger': style === 'danger',
          'pf-m-primary': style === 'primary',
          'pf-m-secondary': style === 'secondary',
          'pf-m-tertiary': style === 'tertiary',
          'pf-m-link': style === 'link',
          'pf-m-action': style === 'action',
          'pf-m-disabled': style === 'disabled'
        }"
        [title]="tooltip"
        [type]="type"
        [value]="value"
        (click)="handleClick($event)">
  <ng-content></ng-content>
</button>
